<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481360520591-cv0uqvaqn46qdllvf5mmossqu6gk5f68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481360520591-cv0uqvaqn46qdllvf5mmossqu6gk5f68</string>
	<key>API_KEY</key>
	<string>AIzaSyAfKIpxqc44613hls0pdM0ZAIDoboWvXDI</string>
	<key>GCM_SENDER_ID</key>
	<string>481360520591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pintrstKw</string>
	<key>PROJECT_ID</key>
	<string>tubesabp2022-pintrst-kw</string>
	<key>STORAGE_BUCKET</key>
	<string>tubesabp2022-pintrst-kw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481360520591:ios:f4f3f7898487a8b6bf17fa</string>
</dict>
</plist>